<nav id="nav">
  <div class="container">
    <ul class="right">
      <li><%= link_to 'My Account', user_path(current_user) %></li>
      <% unless current_user.nil? %>
        <li><%= link_to 'Logout', logout_path %></li>
      <% end %>
    </ul>
  </div>
</nav>