<div class="row valign-wrapper" id="topbar">
    <div class="col s10">
        <%= image_tag("logo.png", style: 'height:10%;width:auto) %>
    </div>
    <div class="col s2">
        <ul class='right'>
            <% unless current_user.nil? %>
                <li><%= link_to 'Logout', logout_path %></li>              
                <li><%= link_to 'My Forms', edit_apps_path(current_user) %></li>
                <li><%= link_to 'My Account', user_path(current_user) %></li>  
            <% end %>
        </ul>
    </div>
</div>