<h4>Welcome to <b>What2Share</b><br/></h4>
<h5>You and your partner will be able to understand each other's perceptions of 
account sharing based on the 10 most used account each of you own</h5><br/><br/>
<%= link_to "Next", signup_path, class: "btn btn-info"%> 
