// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input.form-control{
    width: 25% !important;
}
.reminder{
    position: absolute;
    width: 900px;
    transform: translate (-50%, -50%);
    background: #E9E9E9;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: 150px 150px 550px;
    grid-template-rows: auto;
    gap: 0px 30px;
    grid-template-areas: 
    "pic title title"
    "pic main main";
}
.alert-image{
    grid-area: pic !important;
}
.working-pic{
    top: 14%;
    left: 2%;
  }

.header{
    grid-area: title;
    text-align: left;
    padding-left:30px;
}
.blurb{
    grid-area: main;
    text-align: left;
    padding-left:30px;
    padding-right: 45px;
}
.next-btn{
    float: center;
}
.btn-next{
    width: 30%;  
    height: auto;
}
.btn-back{
    width: 30%;  
    height: auto;
    background: white !important;
    color: black !important;
}